#menu {
	
	display: inline-block;
	height: 30px;
	width: 100%;
	background-color: #d0c4ee;
	left: 0px;
	top: 50px;
}

.butte {
	display: inline-block;
	position: relative;
	width: 130px;
	height: 30px;
	padding-right: 20px;
}

.cont {
	display: inline-block;
	position: relative;
	width: 150px;
	line-height: 35px;
	height: 30px;
	text-decoration: none;
    font-size: 28px;
    text-align: center;
    color: #48456b;
    font-family: 'BalooBhai', sans-serif;
}

.cont:hover {
	
    color: white;
    
    background-color: #5f59a5;
    
}

